.label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label-title {
  display: block;
  color: var(--CONTRAST);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.disabled {
  &,
  & > * {
    cursor: not-allowed;
  }

  .label-title {
    color: var(--INACTIVE);
  }
}
