.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  height: var(--HEADER-H);
  background: var(--SURFACE);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 1rem;
}
