.form-wrapper,
.form-blocks-list,
.form-block,
.form-row,
.form-col {
  display: flex;
}

.form-wrapper,
.form-blocks-list,
.form-block {
  flex-direction: column;
}

.form-wrapper {
  gap: 1.5rem;
}

.form-blocks-list {
  gap: 1rem;
}

.form-block {
  gap: 0.5rem;
}

.form-row {
  align-items: center;
  gap: 0.25rem;
}

.form-col {
  flex: 1;
  overflow: hidden;
}
