// Чтобы не запариваться над локальной установкой
@import 'https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
  list-style: none;
}

:root {
  --MAIN: #fafafa;
  --PRIMARY: #215cff;
  --ON-PRIMARY: #fafafa;
  --CONTRAST: #232323;
  --INACTIVE: color-mix(in srgb, var(--CONTRAST), var(--MAIN) 80%);
  --STROKE: color-mix(in srgb, var(--CONTRAST), var(--MAIN) 40%);
  --SIZE-MD: 2.5rem;
  --P-MD: 1rem;
  --RADIUS-MD: 0.5rem;
}

.subtitle1,
.button1 {
  line-height: 125%;
}

.subtitle1 {
  font-size: 1rem;
  font-weight: 600;
}

.button1 {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 500;
}
